URxvt.scrollBar: false
! URxvt.borderLess: true

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   false
Xft.lcdfilter:  lcddefault
URxvt.iso14755:    false
URxvt.iso14755_52: false
URxvt*font:   xft:Monofur for Powerline:size=24
! menu key  emits f2  vim maps <F2> to ctrlp
URxvt.keysym.0xFF67:string:[12~





! #include ".xcolors/arcadia_Midnight.Xresources"
! #include ".xcolors/arcadia_Pitch.Xresources"
! #include ".xcolors/arcadia_Sunset.Xresources"
! #include ".xcolors/arcadia_Twilight.Xresources"
! #include ".xcolors/arcadia.Xresources"
! #include ".xcolors/base16-3024-256.Xresources"
! #include ".xcolors/base16-3024.Xresources"
! #include ".xcolors/base16-apathy-256.Xresources"
! #include ".xcolors/base16-apathy.Xresources"
! #include ".xcolors/base16-ashes-256.Xresources"
! #include ".xcolors/base16-ashes.Xresources"
! #include ".xcolors/base16-atelier-cave-256.Xresources"
! #include ".xcolors/base16-atelier-cave.Xresources"
! #include ".xcolors/base16-atelier-dune-256.Xresources"
! #include ".xcolors/base16-atelier-dune.Xresources"
! #include ".xcolors/base16-atelier-estuary-256.Xresources"
! #include ".xcolors/base16-atelier-estuary.Xresources"
! #include ".xcolors/base16-atelier-forest-256.Xresources"
! #include ".xcolors/base16-atelier-forest.Xresources"
! #include ".xcolors/base16-atelier-heath-256.Xresources"
! #include ".xcolors/base16-atelier-heath.Xresources"
! #include ".xcolors/base16-atelier-lakeside-256.Xresources"
! #include ".xcolors/base16-atelier-lakeside.Xresources"
! #include ".xcolors/base16-atelier-plateau-256.Xresources"
! #include ".xcolors/base16-atelier-plateau.Xresources"
! #include ".xcolors/base16-atelier-savanna-256.Xresources"
! #include ".xcolors/base16-atelier-savanna.Xresources"
! #include ".xcolors/base16-atelier-seaside-256.Xresources"
! #include ".xcolors/base16-atelier-seaside.Xresources"
! #include ".xcolors/base16-atelier-sulphurpool-256.Xresources"
! #include ".xcolors/base16-atelier-sulphurpool.Xresources"
! #include ".xcolors/base16-bespin-256.Xresources"
! #include ".xcolors/base16-bespin.Xresources"
! #include ".xcolors/base16-brewer-256.Xresources"
! #include ".xcolors/base16-brewer.Xresources"
! #include ".xcolors/base16-bright-256.Xresources"
! #include ".xcolors/base16-bright.Xresources"
! #include ".xcolors/base16-chalk-256.Xresources"
! #include ".xcolors/base16-chalk.Xresources"
! #include ".xcolors/base16-codeschool-256.Xresources"
! #include ".xcolors/base16-codeschool.Xresources"
! #include ".xcolors/base16-cupcake-256.Xresources"
! #include ".xcolors/base16-cupcake.Xresources"
! #include ".xcolors/base16-darktooth-256.Xresources"
! #include ".xcolors/base16-darktooth.Xresources"
! #include ".xcolors/base16-default-dark-256.Xresources"
! #include ".xcolors/base16-default-dark.Xresources"
! #include ".xcolors/base16-dracula-256.Xresources"
! #include ".xcolors/base16-dracula.Xresources"
! #include ".xcolors/base16-eighties-256.Xresources"
! #include ".xcolors/base16-eighties.Xresources"
! #include ".xcolors/base16-embers-256.Xresources"
! #include ".xcolors/base16-embers.Xresources"
! #include ".xcolors/base16-flat-256.Xresources"
! #include ".xcolors/base16-flat.Xresources"
! #include ".xcolors/base16-github-256.Xresources"
! #include ".xcolors/base16-github.Xresources"
! #include ".xcolors/base16-google-dark-256.Xresources"
! #include ".xcolors/base16-google-dark.Xresources"
! #include ".xcolors/base16-grayscale-dark-256.Xresources"
! #include ".xcolors/base16-grayscale-dark.Xresources"
! #include ".xcolors/base16-greenscreen-256.Xresources"
! #include ".xcolors/base16-greenscreen.Xresources"
! #include ".xcolors/base16-gruvbox-dark-hard-256.Xresources"
! #include ".xcolors/base16-gruvbox-dark-hard.Xresources"
! #include ".xcolors/base16-gruvbox-dark-medium-256.Xresources"
! #include ".xcolors/base16-gruvbox-dark-medium.Xresources"
! #include ".xcolors/base16-gruvbox-dark-pale-256.Xresources"
! #include ".xcolors/base16-gruvbox-dark-pale.Xresources"
! #include ".xcolors/base16-gruvbox-dark-soft-256.Xresources"
! #include ".xcolors/base16-gruvbox-dark-soft.Xresources"
! #include ".xcolors/base16-harmonic-dark-256.Xresources"
! #include ".xcolors/base16-harmonic-dark.Xresources"
! #include ".xcolors/base16-hopscotch-256.Xresources"
! #include ".xcolors/base16-hopscotch.Xresources"
! #include ".xcolors/base16-irblack-256.Xresources"
! #include ".xcolors/base16-irblack.Xresources"
! #include ".xcolors/base16-isotope-256.Xresources"
! #include ".xcolors/base16-isotope.Xresources"
! #include ".xcolors/base16-macintosh-256.Xresources"
! #include ".xcolors/base16-macintosh.Xresources"
! #include ".xcolors/base16-marrakesh-256.Xresources"
! #include ".xcolors/base16-marrakesh.Xresources"
! #include ".xcolors/base16-materia-256.Xresources"
! #include ".xcolors/base16-materia.Xresources"
! #include ".xcolors/base16-mocha-256.Xresources"
! #include ".xcolors/base16-mocha.Xresources"
! #include ".xcolors/base16-monokai-256.Xresources"
! #include ".xcolors/base16-monokai.Xresources"
! #include ".xcolors/base16-ocean-256.Xresources"
! #include ".xcolors/base16-oceanicnext-256.Xresources"
! #include ".xcolors/base16-oceanicnext.Xresources"
! #include ".xcolors/base16-ocean.Xresources"
! #include ".xcolors/base16-onedark-256.Xresources"
! #include ".xcolors/base16-onedark.Xresources"
! #include ".xcolors/base16-paraiso-256.Xresources"
! #include ".xcolors/base16-paraiso.Xresources"
! #include ".xcolors/base16-phd-256.Xresources"
! #include ".xcolors/base16-phd.Xresources"
! #include ".xcolors/base16-pico-256.Xresources"
! #include ".xcolors/base16-pico.Xresources"
! #include ".xcolors/base16-pop-256.Xresources"
! #include ".xcolors/base16-pop.Xresources"
! #include ".xcolors/base16-railscasts-256.Xresources"
! #include ".xcolors/base16-railscasts.Xresources"
! #include ".xcolors/base16-seti-256.Xresources"
! #include ".xcolors/base16-seti.Xresources"
! #include ".xcolors/base16-solarflare-256.Xresources"
! #include ".xcolors/base16-solarflare.Xresources"
! #include ".xcolors/base16-solarized-dark-256.Xresources"
! #include ".xcolors/base16-solarized-dark.Xresources"
! #include ".xcolors/base16-spacemacs-256.Xresources"
! #include ".xcolors/base16-spacemacs.Xresources"
! #include ".xcolors/base16-summerfruit-dark-256.Xresources"
! #include ".xcolors/base16-summerfruit-dark.Xresources"
! #include ".xcolors/base16-tomorrow-256.Xresources"
! #include ".xcolors/base16-tomorrow-night-256.Xresources"
! #include ".xcolors/base16-tomorrow-night.Xresources"
! #include ".xcolors/base16-tomorrow.Xresources"
! #include ".xcolors/base16-tube-256.Xresources"
! #include ".xcolors/base16-tube.Xresources"
! #include ".xcolors/base16-unikitty-dark-256.Xresources"
! #include ".xcolors/base16-unikitty-dark.Xresources"
! #include ".xcolors/base16-woodland-256.Xresources"
! #include ".xcolors/base16-woodland.Xresources"
! #include ".xcolors/blueChocolate.Xresources"
! #include ".xcolors/bunsenlabs.Xresources"
! #include ".xcolors/dark_Custom.Xresources"
! #include ".xcolors/hyper-snazzy.Xresources"
! #include ".xcolors/hyper.Xresources"
! #include ".xcolors/icyphox.Xresources"
! #include ".xcolors/iterm-3024_Night.Xresources"
! #include ".xcolors/iterm-AdventureTime.Xresources"
! #include ".xcolors/iterm-Afterglow.Xresources"
! #include ".xcolors/iterm-AlienBlood.Xresources"
! #include ".xcolors/iterm-Argonaut.Xresources"
! #include ".xcolors/iterm-Arthur.Xresources"
! #include ".xcolors/iterm-AtelierSulphurpool.Xresources"
! #include ".xcolors/iterm-Atom.Xresources"
! #include ".xcolors/iterm-ayu.Xresources"
! #include ".xcolors/iterm-Batman.Xresources"
! #include ".xcolors/iterm-Belafonte_Night.Xresources"
! #include ".xcolors/iterm-BirdsOfParadise.Xresources"
! #include ".xcolors/iterm-Blazer.Xresources"
! #include ".xcolors/iterm-Borland.Xresources"
! #include ".xcolors/iterm-Bright_Lights.Xresources"
! #include ".xcolors/iterm-Broadcast.Xresources"
! #include ".xcolors/iterm-Brogrammer.Xresources"
! #include ".xcolors/iterm-C64.Xresources"
! #include ".xcolors/iterm-Chalkboard.Xresources"
! #include ".xcolors/iterm-Chalk.Xresources"
! #include ".xcolors/iterm-Ciapre.Xresources"
! #include ".xcolors/iterm-Cobalt2.Xresources"
! #include ".xcolors/iterm-Cobalt_Neon.Xresources"
! #include ".xcolors/iterm-CrayonPonyFish.Xresources"
! #include ".xcolors/iterm-Dark_Pastel.Xresources"
! #include ".xcolors/iterm-Darkside.Xresources"
! #include ".xcolors/iterm-deep.Xresources"
! #include ".xcolors/iterm-Desert.Xresources"
! #include ".xcolors/iterm-DimmedMonokai.Xresources"
! #include ".xcolors/iterm-DotGov.Xresources"
! #include ".xcolors/iterm-Dracula.Xresources"
! #include ".xcolors/iterm-Duotone_Dark.Xresources"
! #include ".xcolors/iterm-Earthsong.Xresources"
! #include ".xcolors/iterm-Elemental.Xresources"
! #include ".xcolors/iterm-Elementary.Xresources"
! #include ".xcolors/iterm-ENCOM.Xresources"
! #include ".xcolors/iterm-Espresso_Libre.Xresources"
! #include ".xcolors/iterm-Espresso.Xresources"
! #include ".xcolors/iterm-Fideloper.Xresources"
! #include ".xcolors/iterm-FirefoxDev.Xresources"
! #include ".xcolors/iterm-Firewatch.Xresources"
! #include ".xcolors/iterm-FishTank.Xresources"
! #include ".xcolors/iterm-Flatland.Xresources"
! #include ".xcolors/iterm-Flat.Xresources"
! #include ".xcolors/iterm-Floraverse.Xresources"
! #include ".xcolors/iterm-ForestBlue.Xresources"
! #include ".xcolors/iterm-FrontEndDelight.Xresources"
! #include ".xcolors/iterm-FunForrest.Xresources"
! #include ".xcolors/iterm-Galaxy.Xresources"
! #include ".xcolors/iterm-Github.Xresources"
! #include ".xcolors/iterm-Glacier.Xresources"
! #include ".xcolors/iterm-Grape.Xresources"
! #include ".xcolors/iterm-Grass.Xresources"
! #include ".xcolors/iterm-Gruvbox_Dark.Xresources"
! #include ".xcolors/iterm-Hardcore.Xresources"
! #include ".xcolors/iterm-Harper.Xresources"
! #include ".xcolors/iterm-Highway.Xresources"
! #include ".xcolors/iterm-Hipster_Green.Xresources"
! #include ".xcolors/iterm-Homebrew.Xresources"
! #include ".xcolors/iterm-Hurtado.Xresources"
! #include ".xcolors/iterm-Hybrid.Xresources"
! #include ".xcolors/iterm-IC_Green_PPL.Xresources"
! #include ".xcolors/iterm-IC_Orange_PPL.Xresources"
! #include ".xcolors/iterm-idleToes.Xresources"
! #include ".xcolors/iterm-IR_Black.Xresources"
! #include ".xcolors/iterm-Jackie_Brown.Xresources"
! #include ".xcolors/iterm-Japanesque.Xresources"
! #include ".xcolors/iterm-Jellybeans.Xresources"
! #include ".xcolors/iterm-JetBrains_Darcula.Xresources"
! #include ".xcolors/iterm-Kibble.Xresources"
! #include ".xcolors/iterm-Later_This_Evening.Xresources"
! #include ".xcolors/iterm-Lavandula.Xresources"
! #include ".xcolors/iterm-LiquidCarbonTransparentInverse.Xresources"
! #include ".xcolors/iterm-LiquidCarbonTransparent.Xresources"
! #include ".xcolors/iterm-LiquidCarbon.Xresources"
! #include ".xcolors/iterm-Man_Page.Xresources"
! #include ".xcolors/iterm-MaterialDark.Xresources"
! #include ".xcolors/iterm-Material.Xresources"
! #include ".xcolors/iterm-Mathias.Xresources"
! #include ".xcolors/iterm-Medallion.Xresources"
! #include ".xcolors/iterm-Misterioso.Xresources"
! #include ".xcolors/iterm-Molokai.Xresources"
! #include ".xcolors/iterm-MonaLisa.Xresources"
! #include ".xcolors/iterm-Monokai_Soda.Xresources"
! #include ".xcolors/iterm-Monokai_Vivid.Xresources"
! #include ".xcolors/iterm-N0tch2k.Xresources"
! #include ".xcolors/iterm-Neopolitan.Xresources"
! #include ".xcolors/iterm-Neutron.Xresources"
! #include ".xcolors/iterm-NightLion_v1.Xresources"
! #include ".xcolors/iterm-NightLion_v2.Xresources"
! #include ".xcolors/iterm-Novel.Xresources"
! #include ".xcolors/iterm-Obsidian.Xresources"
! #include ".xcolors/iterm-OceanicMaterial.Xresources"
! #include ".xcolors/iterm-Ocean.Xresources"
! #include ".xcolors/iterm-Ollie.Xresources"
! #include ".xcolors/iterm-OneHalfDark.Xresources"
! #include ".xcolors/iterm-OneHalfLight.Xresources"
! #include ".xcolors/iterm-Pandora.Xresources"
! #include ".xcolors/iterm-Paraiso_Dark.Xresources"
! #include ".xcolors/iterm-Parasio_Dark.Xresources"
! #include ".xcolors/iterm-PaulMillr.Xresources"
 #include ".xcolors/iterm-PencilDark.Xresources"
! #include ".xcolors/iterm-PencilLight.Xresources"
! #include ".xcolors/iterm-Piatto_Light.Xresources"
! #include ".xcolors/iterm-Pnevma.Xresources"
! #include ".xcolors/iterm-Pro.Xresources"
! #include ".xcolors/iterm-Red_Alert.Xresources"
! #include ".xcolors/iterm-Red_Sands.Xresources"
! #include ".xcolors/iterm-Rippedcasts.Xresources"
! #include ".xcolors/iterm-Royal.Xresources"
! #include ".xcolors/iterm-Ryuuko.Xresources"
! #include ".xcolors/iterm-Seafoam_Pastel.Xresources"
! #include ".xcolors/iterm-SeaShells.Xresources"
! #include ".xcolors/iterm-Seti.Xresources"
! #include ".xcolors/iterm-Shaman.Xresources"
! #include ".xcolors/iterm-Slate.Xresources"
! #include ".xcolors/iterm-Smyck.Xresources"
! #include ".xcolors/iterm-SoftServer.Xresources"
! #include ".xcolors/iterm-Solarized_Darcula.Xresources"
! #include ".xcolors/iterm-Solarized_Dark_Higher_Contrast.Xresources"
! #include ".xcolors/iterm-Solarized_Dark_-_Patched.Xresources"
! #include ".xcolors/iterm-Solarized_Dark.Xresources"
! #include ".xcolors/iterm-Solarized_Light.Xresources"
! #include ".xcolors/iterm-Spacedust.Xresources"
! #include ".xcolors/iterm-SpaceGray_Eighties_Dull.Xresources"
! #include ".xcolors/iterm-SpaceGray_Eighties.Xresources"
! #include ".xcolors/iterm-SpaceGray.Xresources"
! #include ".xcolors/iterm-Spiderman.Xresources"
! #include ".xcolors/iterm-Spring.Xresources"
! #include ".xcolors/iterm-Square.Xresources"
! #include ".xcolors/iterm-Sundried.Xresources"
! #include ".xcolors/iterm-Symfonic.Xresources"
! #include ".xcolors/iterm-Teerb.Xresources"
! #include ".xcolors/iterm-Terminal_Basic.Xresources"
! #include ".xcolors/iterm-Thayer_Bright.Xresources"
! #include ".xcolors/iterm-The_Hulk.Xresources"
! #include ".xcolors/iterm-Tomorrow_Night_Blue.Xresources"
! #include ".xcolors/iterm-Tomorrow_Night_Bright.Xresources"
! #include ".xcolors/iterm-Tomorrow_Night_Eighties.Xresources"
! #include ".xcolors/iterm-Tomorrow_Night.Xresources"
! #include ".xcolors/iterm-Tomorrow.Xresources"
! #include ".xcolors/iterm-ToyChest.Xresources"
! #include ".xcolors/iterm-Treehouse.Xresources"
! #include ".xcolors/iterm-Ubuntu.Xresources"
! #include ".xcolors/iterm-UnderTheSea.Xresources"
! #include ".xcolors/iterm-Urple.Xresources"
! #include ".xcolors/iterm-Vaughn.Xresources"
! #include ".xcolors/iterm-VibrantInk.Xresources"
! #include ".xcolors/iterm-Violet_Dark.Xresources"
! #include ".xcolors/iterm-Violet_Light.Xresources"
! #include ".xcolors/iterm-WarmNeon.Xresources"
! #include ".xcolors/iterm-Wez.Xresources"
! #include ".xcolors/iterm-WildCherry.Xresources"
! #include ".xcolors/iterm-Wombat.Xresources"
! #include ".xcolors/iterm-Wryan.Xresources"
! #include ".xcolors/iterm-Zenburn.Xresources"
! #include ".xcolors/nord.Xresources"
! #include ".xcolors/numix.Xresources"
! #include ".xcolors/one-dark.Xresources"
! #include ".xcolors/pop_os.Xresources"
! #include ".xcolors/raven-dark.Xresources"
! #include ".xcolors/raven_m3-dark.Xresources"
! #include ".xcolors/raven_m6-dark.Xresources"
! #include ".xcolors/raven_m9-dark.Xresources"
! #include ".xcolors/raven_p3-dark.Xresources"
! #include ".xcolors/raven_p6-dark.Xresources"
! #include ".xcolors/raven_p9-dark.Xresources"
! #include ".xcolors/synthwave.Xresources"
! #include ".xcolors/TomorrowNightBlue.Xresources"
! #include ".xcolors/TomorrowNightBright.Xresources"
! #include ".xcolors/TomorrowNightEighties.Xresources"
! #include ".xcolors/TomorrowNight.Xresources"
! #include ".xcolors/xcolors-apple-bright.Xresources"
! #include ".xcolors/xcolors-apple-dark.Xresources"
! #include ".xcolors/xcolors-astromouse.Xresources"
! #include ".xcolors/xcolors-autumn.Xresources"
! #include ".xcolors/xcolors-Baskerville_-_Count_Von_Count.Xresources"
! #include ".xcolors/xcolors-Baskerville_-_Eldorado_dark.Xresources"
! #include ".xcolors/xcolors-baskerville_-_FarSide.Xresources"
! #include ".xcolors/xcolors-baskerville_-_ivory_dark.Xresources"
! #include ".xcolors/xcolors-baskerville_-_lost_woods.Xresources"
! #include ".xcolors/xcolors-belge.Xresources"
! #include ".xcolors/xcolors-bitmute.Xresources"
! #include ".xcolors/xcolors-bleh-1.Xresources"
! #include ".xcolors/xcolors-blizzard-orb.Xresources"
! #include ".xcolors/xcolors-brightly.Xresources"
! #include ".xcolors/xcolors-chalk.Xresources"
! #include ".xcolors/xcolors-cheesecake-dark.Xresources"
! #include ".xcolors/xcolors-cinder.Xresources"
! #include ".xcolors/xcolors-cloud.Xresources"
! #include ".xcolors/xcolors-cold-bruise.Xresources"
! #include ".xcolors/xcolors-colorfulcolors.Xresources"
! #include ".xcolors/xcolors-cool-beans.Xresources"
! #include ".xcolors/xcolors-cotton-candy.Xresources"
! #include ".xcolors/xcolors-darkly.Xresources"
! #include ".xcolors/xcolors-deafened.Xresources"
! #include ".xcolors/xcolors-derp.Xresources"
! #include ".xcolors/xcolors-digerati.Xresources"
! #include ".xcolors/xcolors-dkeg_-_canvasedpastel.Xresources"
! #include ".xcolors/xcolors-dkeg_-_catchmeifyoucan.Xresources"
! #include ".xcolors/xcolors-dkeg_-_citystreets.Xresources"
! #include ".xcolors/xcolors-dkeg_-_colorstar.Xresources"
! #include ".xcolors/xcolors-dkeg_-_panels.Xresources"
! #include ".xcolors/xcolors-dkeg_-_redphoenix.Xresources"
! #include ".xcolors/xcolors-dkeg_-_teva.Xresources"
! #include ".xcolors/xcolors-dkeg_-_unsiftedwheat.Xresources"
! #include ".xcolors/xcolors-dkeg_-_vwbug.Xresources"
! #include ".xcolors/xcolors-DOOMICIDE_darkocean.Xresources"
! #include ".xcolors/xcolors-dotshare.Xresources"
! #include ".xcolors/xcolors-dwmrob.Xresources"
! #include ".xcolors/xcolors-epiphany.Xresources"
! #include ".xcolors/xcolors-eqie6.Xresources"
! #include ".xcolors/xcolors-erebus.Xresources"
! #include ".xcolors/xcolors-euphrasia.Xresources"
! #include ".xcolors/xcolors-fishbone.Xresources"
! #include ".xcolors/xcolors-flowers.Xresources"
! #include ".xcolors/xcolors-Fulminated-Sunburn.Xresources"
! #include ".xcolors/xcolors-gjm.Xresources"
! #include ".xcolors/xcolors-gnometerm.Xresources"
! #include ".xcolors/xcolors-good-pants.Xresources"
! #include ".xcolors/xcolors-grandshell.Xresources"
! #include ".xcolors/xcolors-Gslob_nature-suede.Xresources"
! #include ".xcolors/xcolors-Gutterslob_-_aikofog.Xresources"
! #include ".xcolors/xcolors-Gutterslob_lightwhite.Xresources"
! #include ".xcolors/xcolors-gutterslob_-_lumifoo.Xresources"
! #include ".xcolors/xcolors-hybrid.Xresources"
! #include ".xcolors/xcolors-iiamblack.Xresources"
! #include ".xcolors/xcolors-insignificato.Xresources"
! #include ".xcolors/xcolors-jasonwryan.Xresources"
! #include ".xcolors/xcolors-jeans.Xresources"
! #include ".xcolors/xcolors-jellybeans.Xresources"
! #include ".xcolors/xcolors-jellyx.Xresources"
! #include ".xcolors/xcolors-jwr-dark.Xresources"
! #include ".xcolors/xcolors-leather.Xresources"
! #include ".xcolors/xcolors-material.Xresources"
! #include ".xcolors/xcolors-medium-roast.Xresources"
! #include ".xcolors/xcolors-mikado.Xresources"
! #include ".xcolors/xcolors-mikazuki.Xresources"
! #include ".xcolors/xcolors-monotheme.Xresources"
! #include ".xcolors/xcolors-mostly-awful.Xresources"
! #include ".xcolors/xcolors-Muse.Xresources"
! #include ".xcolors/xcolors-Muzieca_lowcontrast.Xresources"
! #include ".xcolors/xcolors-Muzieca_mono.Xresources"
! #include ".xcolors/xcolors-Muzieca_pastel_white.Xresources"
! #include ".xcolors/xcolors-nancy.Xresources"
! #include ".xcolors/xcolors-neon.Xresources"
! #include ".xcolors/xcolors-nucolors.Xresources"
! #include ".xcolors/xcolors-nudge.Xresources"
! #include ".xcolors/xcolors-NumixDarkest.Xresources"
! #include ".xcolors/xcolors-nvert.Xresources"
! #include ".xcolors/xcolors-OK100_-_Matrix.Xresources"
! #include ".xcolors/xcolors-orangish.Xresources"
! #include ".xcolors/xcolors-paperko.Xresources"
! #include ".xcolors/xcolors-parker_brothers.Xresources"
! #include ".xcolors/xcolors-petals.Xresources"
! #include ".xcolors/xcolors-phrak1.Xresources"
! #include ".xcolors/xcolors-plastic-toys.Xresources"
! #include ".xcolors/xcolors-pulp.Xresources"
! #include ".xcolors/xcolors-rasi.Xresources"
! #include ".xcolors/xcolors-rezza.Xresources"
! #include ".xcolors/xcolors-Rooster_-_SOS.Xresources"
! #include ".xcolors/xcolors-rosewould.Xresources"
! #include ".xcolors/xcolors-rydgel.Xresources"
! #include ".xcolors/xcolors-sea-fox.Xresources"
! #include ".xcolors/xcolors-sexcolors.Xresources"
! #include ".xcolors/xcolors-shic.Xresources"
! #include ".xcolors/xcolors-simple_rainbow.Xresources"
! #include ".xcolors/xcolors-sour-candy.Xresources"
! #include ".xcolors/xcolors-sourcerer.Xresources"
! #include ".xcolors/xcolors-splurge.Xresources"
! #include ".xcolors/xcolors-swayr.Xresources"
! #include ".xcolors/xcolors-tangoesque.Xresources"
! #include ".xcolors/xcolors-tango.Xresources"
! #include ".xcolors/xcolors-Tartan.Xresources"
! #include ".xcolors/xcolors-theme2.Xresources"
! #include ".xcolors/xcolors-thwump.Xresources"
! #include ".xcolors/xcolors-tlh.Xresources"
! #include ".xcolors/xcolors-user_77_-_Mashup_colors.Xresources"
! #include ".xcolors/xcolors-Visiblue.Xresources"
! #include ".xcolors/xcolors-visibone.Xresources"
! #include ".xcolors/xcolors-woodlands.Xresources"
! #include ".xcolors/xcolors-zenburn.Xresources"
