[Desktop Entry]
Name=blender
Exec=blender
Comment=
Terminal=false
Icon=/home/user/bin/blender3.1/blender.svg
Type=Application
Path=
StartupNotify=false
