[Desktop Entry]
Version=1.0
Type=Application
Name=Flask App
Comment=
Exec=urxvt
Icon=utilities-x-terminal
Path=/home/user/Desktop/flask_app
Terminal=false
StartupNotify=false
