[Desktop Entry]
Version=1.0
Type=Application
Name=gruvbox
Comment=
Exec=sh -c 'export T_THEME=gruvbox ; urxvt -name gruvds'
Icon=/usr/share/icons/oxygen/base/48x48/apps/utilities-terminal.png
Path=
Terminal=false
StartupNotify=false
