[Desktop Entry]
Version=1.0
Type=Application
Name=kittysay
Comment=
Exec=urxvt
Icon=/usr/share/icons/suru/apps/scalable/terminal-app-symbolic.svg
Path=/home/user/kittysay
Terminal=false
StartupNotify=false
