[Desktop Entry]
Version=1.0
Type=Application
Name=pencil light
Comment=
Exec=sh -c 'export T_THEME=pencillight; urxvt -name pencillight'
Icon=
Path=
Terminal=false
StartupNotify=false
