[Desktop Entry]
Version=1.0
Type=Application
Name=pics
Comment=
Exec=thunar
Icon=folder-pictures
Path=/home/user/Pictures
Terminal=false
StartupNotify=true
