[Desktop Entry]
Version=1.0
Type=Application
Name=Flask App Project
Comment=
Exec=gvim -c "so proj.vim"
Icon=application-x-codelite-workspace
Terminal=false
StartupNotify=false
Path=/home/user/Desktop/flask_app
