[Desktop Entry]
Version=1.0
Type=Application
Name=ritmus
Comment=
Exec=urxvt
Icon=utilities-x-terminal
Path=/home/user/ritmus
Terminal=false
StartupNotify=false
