[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal Here
Comment=Use the command line
Exec=sh -c 'export T_THEME=gruvbox; urxvt -name gruvds'
Icon=org.gnome.Terminal
Path=/home/user/Desktop
Terminal=false
StartupNotify=false
