[Desktop Entry]
Version=1.0
Type=Application
Name=urproj flask
Comment=
Exec=sh -c 'urxvt -e vim -c "so proj.vim"'
Icon=
Path=/home/user/Desktop/flask_app
Terminal=false
StartupNotify=false
