[Desktop Entry]
Version=1.0
Type=Application
Name=urproj-ritmus
Comment=
Exec=sh -c 'urxvt -e vim -c "so proj.vim"'
Icon=
Path=/home/user/ritmus
Terminal=false
StartupNotify=false
